<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlightRecorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FlightRecorder.Properties.Settings>
            <setting name="callsign" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleFormUrl" serializeAs="String">
                <value>https://docs.google.com/forms/d/1UcaY66JJZS_x7VhyKNKpfHSAsicOmfZk-Eqd75k84OA</value>
            </setting>
            <setting name="callsign_entry" serializeAs="String">
                <value>entry.338426599</value>
            </setting>
            <setting name="startIata_entry" serializeAs="String">
                <value>entry.1206632170</value>
            </setting>
            <setting name="startFuel_entry" serializeAs="String">
                <value>entry.2122251018</value>
            </setting>
            <setting name="startTime_entry" serializeAs="String">
                <value>entry.866846136</value>
            </setting>
            <setting name="endIata_entry" serializeAs="String">
                <value>entry.1434303808</value>
            </setting>
            <setting name="endFuel_entry" serializeAs="String">
                <value>entry.1246669828</value>
            </setting>
            <setting name="endTime_entry" serializeAs="String">
                <value>entry.1305759358</value>
            </setting>
            <setting name="pax_entry" serializeAs="String">
                <value>entry.750791914</value>
            </setting>
            <setting name="cargo_entry" serializeAs="String">
                <value>entry.2006049487</value>
            </setting>
            <setting name="aircraft_entry" serializeAs="String">
                <value>entry.1184138656</value>
            </setting>
            <setting name="commentaires_entry" serializeAs="String">
                <value>entry.607952088</value>
            </setting>
            <setting name="noteDuVol_entry" serializeAs="String">
                <value>entry.652005461</value>
            </setting>
        </FlightRecorder.Properties.Settings>
    </userSettings>
</configuration>