<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlightRecorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlightRecorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FlightRecorder.Properties.Settings>
            <setting name="callsign" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleFormUrl" serializeAs="String">
                <value>https://docs.google.com/forms/d/1UcaY66JJZS_x7VhyKNKpfHSAsicOmfZk-Eqd75k84OA</value>
            </setting>
            <setting name="callsign_entry" serializeAs="String">
                <value>entry.338426599</value>
            </setting>
            <setting name="startIata_entry" serializeAs="String">
                <value>entry.1206632170</value>
            </setting>
            <setting name="startFuel_entry" serializeAs="String">
                <value>entry.2122251018</value>
            </setting>
            <setting name="startTime_entry" serializeAs="String">
                <value>entry.866846136</value>
            </setting>
            <setting name="endIata_entry" serializeAs="String">
                <value>entry.1434303808</value>
            </setting>
            <setting name="endFuel_entry" serializeAs="String">
                <value>entry.1246669828</value>
            </setting>
            <setting name="endTime_entry" serializeAs="String">
                <value>entry.1305759358</value>
            </setting>
            <setting name="pax_entry" serializeAs="String">
                <value>entry.750791914</value>
            </setting>
            <setting name="cargo_entry" serializeAs="String">
                <value>entry.2006049487</value>
            </setting>
            <setting name="aircraft_entry" serializeAs="String">
                <value>entry.1184138656</value>
            </setting>
            <setting name="commentaires_entry" serializeAs="String">
                <value>entry.607952088</value>
            </setting>
            <setting name="noteDuVol_entry" serializeAs="String">
                <value>entry.652005461</value>
            </setting>
        </FlightRecorder.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FlightRecorder.Properties.Settings>
            <setting name="immat1" serializeAs="String">
                <value>F-HXBV</value>
            </setting>
            <setting name="immat2" serializeAs="String">
                <value>F-GDRU</value>
            </setting>
            <setting name="immat3" serializeAs="String">
                <value>D-HOAE</value>
            </setting>
            <setting name="immat4" serializeAs="String">
                <value>F-HMRE</value>
            </setting>
            <setting name="immat5" serializeAs="String">
                <value>HB-HYPE</value>
            </setting>
            <setting name="immat6" serializeAs="String">
                <value>F-BTLE</value>
            </setting>
            <setting name="immat7" serializeAs="String">
                <value>C-FWQY</value>
            </setting>
            <setting name="immat8" serializeAs="String">
                <value>F-GOPG</value>
            </setting>
            <setting name="immat9" serializeAs="String">
                <value>N412UM</value>
            </setting>
            <setting name="immat10" serializeAs="String">
                <value>N172SP</value>
            </setting>
            <setting name="immat11" serializeAs="String">
                <value>N45XS</value>
            </setting>
            <setting name="immat12" serializeAs="String">
                <value>F-DVL2</value>
            </setting>
            <setting name="immat13" serializeAs="String">
                <value>F-HBGD</value>
            </setting>
            <setting name="immat14" serializeAs="String">
                <value>HB-VDH</value>
            </setting>
            <setting name="immat15" serializeAs="String">
                <value>EZ090</value>
            </setting>
            <setting name="immat16" serializeAs="String">
                <value>F-GNSS</value>
            </setting>
            <setting name="immat17" serializeAs="String">
                <value>F-HGCO</value>
            </setting>
            <setting name="immat18" serializeAs="String">
                <value>VH-HMV</value>
            </setting>
            <setting name="immat19" serializeAs="String">
                <value>N8029B</value>
            </setting>
            <setting name="immat20" serializeAs="String">
                <value>F-GCQL</value>
            </setting>
            <setting name="immat21" serializeAs="String">
                <value>F-GPAP</value>
            </setting>
            <setting name="immat22" serializeAs="String">
                <value>F-FUFU</value>
            </setting>
            <setting name="immat23" serializeAs="String">
                <value>F-HYBN</value>
            </setting>
            <setting name="immat24" serializeAs="String">
                <value>F-DVL1</value>
            </setting>
            <setting name="immat25" serializeAs="String">
                <value>F-GRHU</value>
            </setting>
            <setting name="immat26" serializeAs="String">
                <value>F-HBNK</value>
            </setting>
        </FlightRecorder.Properties.Settings>
    </applicationSettings>
</configuration>